%section.page-block.contacts#contacts
	.container
		.row.page-header
			%h2 Как нас найти
			%span Немного подзаголовка

		.row
			.col-lg-4.col-md-4
				.row.space-bottom
					.col-lg-9.col-md-9
						%h3 Чем мы занимаемся
					.col-lg-3.col-md-3
						=image_tag 'contacts/man.png', class: 'img-center', alt: 'About Us'
				.row
					.col-lg-12
						%p.text-justify
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
			.col-lg-3.col-md-4.col-lg-offset-1
				.row.space-bottom
					.col-lg-8.col-md-8
						%h3 Наш адрес
					.col-lg-4.col-md-4
						=image_tag 'contacts/map.png', class: 'img-center', alt: 'Address'
				.row
					.col-lg-12
						%p Moskva, lipeckaya street 65
				.row.space-bottom
					.col-lg-8.col-md-8
						%h3 Контакты
					.col-lg-4.col-md-4
						=image_tag 'contacts/phone.png', class: 'img-center', alt: "Contacts"
				.row
					.col-lg-12
						%p
							+7 495 522 94 88
							+7 912 899 35 53
							info@mostip.ru
							support@mostip.ru
			.col-lg-3.col-md-4.col-lg-offset-1
				.row.space-bottom
					.col-lg-8.col-md-8
						%h3 Свяжитесь с нами
					.col-lg-4.col-md-4
						=image_tag 'contacts/plan.png', class: 'img-center', alt: 'Address'
				.row
					.col-lg-12
						.form-group
							%label.sr-only{'for': "name1"} Name