%section.page-block#features
	.container
		.row.page-header
			%h2 Порядок действий
			%span Так нужно поступить для подачи заявки
		.row.features
			.col-lg-3.col-md-6.col-sm-12
				.feature-img
					=image_tag 'features/feature1.png', width: "124", height: "120", alt: "Our first feature"
				%h3 Узнай стоимость
				%p Удобный калькулятор с готовыми шаблонами
			.col-lg-3.col-md-6.col-sm-12
				.feature-img
					=image_tag 'features/feature2.png', width: "124", height: "120", alt: "Our first feature"
				%h3 Загрузи макет
				%p Прямо на сайте за несколько секунд
			.col-lg-3.col-md-6.col-sm-12
				.feature-img
					=image_tag 'features/feature3.png', width: "124", height: "120", alt: "Our first feature"
				%h3 Оплати заказ
				%p Наличный или безналичный расчет
			.col-lg-3.col-md-6.col-sm-12
				.feature-img
					=image_tag 'features/feature1.png', width: "124", height: "120", alt: "Our first feature"
				%h3 Получи заказ
				%p Несколько вариантов доставки на выбор
