%header.stiky-header
  .container.group
  .navi-toggle.group
    %span.dot
      %span.line
    %span.dot
      %span.line
  %a{:href => "", class: "btn btn-primary btn-login", "data-toggle" => "modal"} Login

  %nav.main-navi
    %ul
      %li.active
        %a{:href => "", class: "scroll-up"} Home
      %li.has-dropdown
        %a{:href => "", class: "scroll" }Features 
        %i.fa.fa-caret-down
        %ul.dropdown
          %li asd
          %li haha
          %li huhu